body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #153243;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .8);
    transition: top 0.3s;
}

.navbar__logo {
    font-family: georgia;
    font-size: 49px;
    color: #EEF0EB;
    text-align: center;
    margin: auto;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);
}

.navbar__logo__underline {
    width: 100px;
    position: fixed;
    height: 2px;
    background-color: #EEF0EB;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);
    text-align: justify;
    color: white;
    font-size: 5px;
}

.navbar__icon {
    fill: #2E5975;
    margin: 20%;
}

.navbar__icons {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.navbar__icons:hover .navbar__icon {
    position: relative;
    display: inline-block;
    animation: bounce 0.3s infinite alternate;
    animation-delay: 0s;
}

.container {
    padding: 50px 5%;
    width: 90%;
    text-align: justify;
}

.hero__div_h1 {
    width: 100%;
    height: 100%;
    background: #FF7777;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__div__h1_letters {
    height: 100px;
    font-family: 'Titan One', cursive;
    font-size: 80px;
    color: #FFF;
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}

.hero__div__h1_letters span:hover {
    position: relative;
    top: -20px;
    display: inline-block;
    animation: bounce .30s ease infinite alternate;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}
