body {
    margin: 0;
    padding: 0;
}

#navbar {
    width: 0;
    height: calc(100% - 100px);
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
}

#navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#navbar a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    #navbar {
        padding-top: 15px;
    }

    #navbar a {
        font-size: 18px;
    }
}

#container__main-logo {
    width: 100px;
    cursor: pointer;
    font-family: georgia;
    text-align: center;
    font-size: 49px;
    margin: 2px;
    color: #EEF0EB;
    line-height: 100px;
    height: 100%;
    position: absolute;
    animation-name: pulsate;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {
        font-size: 48px;
    }
    50% {
        font-size: 49px;
    }
    100% {
        font-size: 48px;
    }
}

.navbar__icon {
    fill: #2E5975;
    margin: 20%;
    padding: 20px 0 0 0;
}

.navbar__icons {
    cursor: pointer;
}

.navbar__container-for-icons {
    margin-top: 30vh;
}

.navbar__icons:hover .navbar__icon {
    position: relative;
    display: inline-block;
    animation: bounce 0.3s infinite alternate;
    animation-delay: 0s;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: justify;
    background: #153243;
}

/*.hero__div_h1 {*/
    /*width: 50%;*/
    /*height: 20%;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*display: flex;*/
    /*justify-content: right;*/
    /*align-items: center;*/
/*}*/

/*.hero__div__h1_letters {*/
    /*margin: 200px;*/
    /*height: 100px;*/
    /*font-family: 'Titan One', cursive;*/
    /*font-size: 80px;*/
    /*color: #FFF;*/
    /*top: -20px;*/
    /*cursor: default;*/
    /*text-shadow: 0 1px 0 #CCC,*/
    /*0 2px 0 #CCC,*/
    /*0 3px 0 #CCC,*/
    /*0 4px 0 #CCC,*/
    /*0 5px 0 #CCC,*/
    /*0 6px 0 transparent,*/
    /*0 7px 0 transparent,*/
    /*0 8px 0 transparent,*/
    /*0 9px 0 transparent,*/
    /*0 10px 10px rgba(0, 0, 0, .4);*/
/*}*/

/*.hero__div__h1_letters span:hover, {*/
    /*position: relative;*/
    /*top: -20px;*/
    /*display: inline-block;*/
    /*animation: bounce .30s ease infinite alternate;*/
/*}*/

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}

#messenger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 30px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    color: white;
}

.container__contact-envelope__icon {
    fill: #2E5975;
    padding: 20px 0 0 0;
}

.container__contact-envelope {
    position: absolute;
    bottom: 20px;
    right: 25px;
}