body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar {
    width: 0;
    height: calc(100% - 110px);
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
}

#navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#navbar a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    #navbar {
        padding-top: 15px;
    }

    #navbar a {
        font-size: 18px;
    }
}

#container__main-logo {
    width: 100px;
    cursor: pointer;
    font-family: georgia;
    text-align: center;
    font-size: 49px;
    margin: 2px;
    color: #EEF0EB;
    line-height: 100px;
    height: 100%;
    position: absolute;
    animation-name: pulsate;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {
        font-size: 47px;
    }
    50% {
        font-size: 49px;
    }
    100% {
        font-size: 47px;
    }
}

.navbar__icon {
    fill: #2E5975;
    margin: 20%;
    padding: 20px 0 0 0;
}

.navbar__icons {
    cursor: pointer;
}

.navbar__container-for-icons {
    margin-top: 30vh;
}

.navbar__icons:hover .navbar__icon {
    position: relative;
    display: inline-block;
    animation: bounce 0.3s infinite alternate;
    animation-delay: 0s;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: justify;
    background: #153243;
    display: flex;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}

@keyframes bounceBottom {
    100% {
        bottom: 40px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}

#messenger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 30px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(225, 225 225, 0.9);
    color: white;
}

.container__contact-envelope__icon {
    fill: #2E5975;
    padding: 20px 0 0 0;
}

.container__contact-envelope {
    position: absolute;
    bottom: 20px;
    right: 25px;
    animation: bounceBottom 0.3s infinite alternate;
    cursor: pointer;
}

#container__contact {
    height: 0px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

#container__contact-div {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 0px;
    bottom: 0;
    background: #153243;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}